server:
  address: 0.0.0.0
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/skincheck?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: hyunse
    password: Gp@2938563
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
